.main {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submitbox {
  height: 700px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 20px;
  border-radius: 20px !important;
  -webkit-box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.14), 1px 1px 3px 1px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.14), 1px 1px 3px 1px rgba(0, 0, 0, 0.12) !important;
}

.itembox {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px !important;
}

.smallItemBox {
  cursor: pointer;
  margin: 30px;
  padding: 20px;
  padding: 30px;
  height: 350px;
  width: 650px;
  border-radius: 25px !important;
}

.hoverpaper:hover {
  -webkit-box-shadow: 3px 3px 4px 8px rgba(0, 0, 0, 0.2), 3px 3px 5px 5px rgba(0, 0, 0, 0.14), 3px 3px 3px 5px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 3px 3px 4px 8px rgba(0, 0, 0, 0.2), 3px 3px 5px 5px rgba(0, 0, 0, 0.14), 3px 3px 3px 5px rgba(0, 0, 0, 0.12) !important;
}

.abc {
  background-color: yellow;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font {
  font-family: 'Segoe UI';
  font-style: bolder;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottombox {
  height: 50px;
  width: 350px;
}

.bottom {
  position: relative;
  bottom: 75px;
  left: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat {
  margin-right: 10px;
}

.icon_size {
  height: 30px !important;
  width: 30px  !important;
}

.form > div > div {
  border-radius: 15px !important;
}

.commentlength {
  text-align: center;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  background-color: red;
  bottom: 5px;
  left: 35px;
  font-size: 12px;
  color: white;
  font-weight: bolder;
  position: relative;
  padding-top: 2px;
}
/*# sourceMappingURL=forum.module.css.map */