
.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.header{
  padding: 13px;
}

.ForumComponent {
  margin: 30px;
  padding: 50px;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}

.itembox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px;
  justify-content: center;
  border-radius: 5px !important;
}


.main {
  // margin: 30px;
  display: flex;
}

@media only screen and (max-width: 375px) {
 
  .main {
   flex-direction: column;
    margin-left: 0;
  }
}


.smallItemBox  {
  margin-bottom: 30px;
  width: 700px;
  border-radius: 15px !important;
  box-shadow: 
  2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
}

.image_board{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.image{

 max-height: 60vh;
 max-width: 700px;
}



.main_display_name{
  font-weight: bolder;
  font-size: 15px !important;
}


.center {
  display: flex;
  align-items: center;
}


.font{
  font-family: 'Segoe UI';
  font-style: bolder;
}

.user {
  display: flex;
  align-items: center;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
  
}

.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 5px;
}

.category{
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 5px;

}

.bottombox{

  height: 50px;
  width: 350px;
}

.bottom{
  padding: 25px;
}

.comment {
  display: flex;

}

.chat {
  margin-right: 10px;
}

.icon_size {
  height: 30px !important;
  width: 30px  !important;
}

.form > div > div {
  border-radius: 10px !important;
}

.commentlength {
  
  text-align: center;
  border-radius:10px;
  width:20px;
  height:20px;
  background-color: red;
  bottom:5px;
  left: 36px;
  font-size: 12px;
  color: white;
  font-weight: bolder;
  position: relative;
  padding-top: 0px;
}

.liked {
  background-color: red;
  height: 30px;
  width: 30px;
}


@media only screen and (max-width: 650px) {
 

  .smallItemBox  {
  margin-bottom: 30px;
  width: 375px;
  border-radius: 15px !important;
  box-shadow: 
  2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
  }

  .image{

    max-height: 60vh;
    max-width: 375px;
   }
   
   
}


.upper_show_input_tag {
  display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
.show_input_tag {
  align-items: center;
  background: #85A3BF;
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 11px;
}

.time_size{
  margin-left: 20px;
  justify-content: flex-end;
  font-size: 10px !important;
}

.title_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags_comment_heart{
  display: flex;
  justify-content: space-between;
}



////////////////////////////////////////////////////////


.font{
  font-family: 'Segoe UI';
  font-style: bolder;
  font-size: 13px;
}

.poster {
  display: flex;
  align-items: center;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 5px;
  
}

.description{

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.grid_block {

  display: flex;
  align-items: center;
  margin-bottom: 10px;

  padding: 3px;
}


.display_name_comment {

  border: 1px solid #f2f4f7;
  background-color: #f2f4f7;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.display_name{
  font-weight: bolder;
  font-size:11px !important;
}

.main_display_name{
  font-weight: bolder;
  font-size: 18px !important;
  
}

.time{
  font-size: 12px !important;
}

.input {
  background-color:#f2f4f7;
  border-radius: 20px;
  border: 1px solid #f2f4f7;
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  outline: none;
  font-size: 15px;
  width: 60%
}


.time_size{
  margin-left: 20px;
  justify-content: flex-end;
  font-size: 10px !important;
}

.returnButton {
  position: relative;
  left: 680px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #5AC8FA;
  border: 1px solid white !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  outline: 0 !important;
}


.arrow{
  color: white !important;
}