
.main {
  margin: 30px;
  display: flex;
  
}


.submitbox {
  height: 700px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 15px!important; 
  box-shadow: 
  2px 2px 1px 1px rgba(0,0,0,0.2), 1px 2px 2px 2px rgba(0,0,0,0.14), 1px 2px 2px 2px rgba(0,0,0,0.12) !important;
}


.itembox {
    padding: 15px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
    width: 100%;
    border-radius: 15px !important;
    box-shadow: 
    2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
}


@media only screen and (max-width: 650px) {
    .itembox {
      padding: 15px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-right: 10px;
      margin-top: 10px;
      width: 100%;
      border-radius: 15px !important;
      box-shadow: 
      2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
      width:400px;
  }
}


.form > div > div{
  border-radius: 13px;
}

@media only screen and (max-width: 650px) {
 
  .main {
   flex-direction: column;

  }
}



.input_tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 10px;
}


.input_tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 16px;
  justify-content: center;
  line-height: 0;
  margin-left: 10px;
  padding: 4;
  transform: rotate(45deg);
  width: 16px;
}

.input_tag input  {
  border-radius: 20px !important;
  outline: none !important;
  margin: 10px;
}

.input_tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
  border-radius: 20px;
}

.input_tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
  margin: 20px;
  
}

.input_tag input {
  border: none;
  width: 100%;
  
}

.input_tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
