.inbox-page{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow: hidden;
    .rce-container-mbox {
    flex-direction: column;
    display: block;
    overflow: hidden;
    min-width: 200px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .inbox-right .msg-display{
        background: #E6DFD7 !important;    
    }
    .rce-mbox-right-notch{
        fill: #D6F1C1;
    }
    .rce-mbox.rce-mbox-right{
        background: #D6F1C1;
        color: black;
    }
    .rce-mbox.rce-mbox-left{
        background: #D6F1C1;
        color: black;
    }
 
     .rce-mbox-left-notch{
        fill: #33B2EB;
    }
    .rce-mbox {
        background: #33B2EB;
    }

    .inbox-left{
        max-width:280px;
        min-width:280px;
        flex:1;      
        padding: 5px;
        background: #eee;
        height:85vh;
        border-radius: 10px ;
        overflow-y: scroll;

        .MuiListItemIcon-root>img{
            padding: 1px;
            height: 40px;
            width: 40px;
        }
        .MuiSvgIcon-root{
            padding: 1px;
            height: 40px;
            width: 40px;
        }
        nav{ 
            padding-top: 0;
            .inbox-nav{
                display: flex;
                height: 30px;
                div{
                    flex:1;
                    text-align: center;
                    position: relative;              
                    a{
                        position: absolute; 
                        top:0;
                        bottom: 0px;  
                        left: 0;
                        right: 0;
                      
                    }
                    a.active{
                        border-bottom: 3px solid #aaa ;
                        box-sizing: border-box;
                        background-color: #FFF
                    }
                    a:hover {
                        color: #0056b3;
                        text-decoration: none;
                    }
                }
            
        }

                 
            .MuiListItem-root.MuiListItem-gutters{
                padding: 5px !important;
            }
            .rce-container-citem{
                min-width: 180px;
            }            
        }
   
    }


    .inbox-right{
        flex: 4;        
        border-radius: 10px ;
        margin-left: 10px;        
        height:85vh;
        position: relative;
        background: #E6DFD7 !important;

        
        .msg-display{  

            max-height: 100%;
            // vertical-align: bottom;
            // overflow-y:scroll; 
            border-radius: 10px ;
            
            .chat-nav{         
                width: 100%;
                height: 120px;
                display: flex;
                flex-direction: row;               
                background: #f2f2f8;
                padding:7px ;          
                    img { max-width: 100%; max-height: 100%; margin-right: 10px;margin-left: 10px;} 
            
                .rcvr{
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                    .title{
                        font-size:30px;
                        font-weight: 500;
                        width: auto;
                    }
                    p{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                       div{
                           margin:5px;
                           text-align: end;
                        } 
                    }
                }                
            }
            .chat-room{            
            position: absolute; 
            top:120px;
            bottom: 40px;  
            width: 100%;      
            vertical-align: bottom;
            overflow-y:scroll; 
            }




        }

        form{
            height:50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;

            background: #8E8E93;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            div{
                margin: 5px;
            }
            input{
                width:600px;
                border-radius: 30px;
                border: none;
                padding:3px;
            }
            textarea:focus, input:focus{
                outline: none;
            }
            .BBB .sendButton{
                background-color: #007AFF ;
                border-radius: 30px;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex:9;
                border:none;
            }

          
        }




    }    

}