.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.paper {
  
  width: 1100px;
  padding: 10px;
  margin-top: 20px;

}


.item_photo_and_detail {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
	.item_photo_and_detail {
			display: flex;
			flex-direction:column
		}
}


.photo {
  max-width: 100%;
}

.googleMapCenter{
  display: flex;
  justify-content: center;
}


.detail {
  width: 60vw;
  margin: 2vw;
}

.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 15px;
}

.description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 5px;

  
}

.post_user{
  display: flex;
  align-items: center;
}

.show_input_tag {
  align-items: center;
  background: #85A3BF;
  border-radius: 15px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.upper_show_input_tag {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.buttonSize{
  width: 100px ;
  height: 50px;

}


.returnButton {
  // position: relative;
  // right:-60px;
  // top:-100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #5AC8FA;
  border: 1px solid white !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  outline: 0 !important;
}


.arrow{
  color: white !important;
}
