header{
    display: flex !important;
    flex-direction: row  !important;
    height: 60px !important;
    overflow: hidden;
  

    button:focus {
       outline: none;}
    button{
      border:none;
      color: rgba(0, 0, 0, 0.87);   
    }
    .logo{
      width: 70px ;
      margin-left:10px;
      margin-top: -5px;
     
    }
     .nav-options{    
      min-width: 30px;  
       flex-grow: 1;
      .MuiTabs-flexContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          margin: 0;
        }
      }
      
      .MuiTab-labelIcon{
        padding-top: 0;
      }
      button{
        padding:5px;
        .MuiTab-wrapper{
          min-width: 40px;
          font-size: 7px;            
        }
      }
    
      .MuiTab-root{
        font-size: 10px;
      }
 
      .MuiSvgIcon-root{
        font-size: 30px;    
      }
    }
  }
  @media (min-width: 600px){
    .MuiTab-root {
      min-width: 100px;
    }
  }


  .nav-end{   
    .MuiTab-labelIcon{
      padding-top: 0;
    }
    button{
      padding:5px;
      .MuiTab-wrapper{
        min-width: 40px;
        font-size: 7px;            
      }
    }

    .MuiTab-root{
      font-size: 10px;
    }

    .MuiSvgIcon-root{
      font-size: 30px;    
    }

    .profile{
      display: flex;
      flex-direction: column; 
      justify-content: center;  
      text-align: center;
      align-items: center;
      color:rgba(0, 0, 0, 0.7);
      font-size:10px;
      font-weight: 500;  
      margin-top: -5px; 
      .greet{
        margin-top: 3px;
      }
      
    }
    
  }

.user_icon {
  cursor: pointer;
}

.logo{
      width: 70px ;
      margin-left:10px;
      margin-top: -5px;
     
}

.secondNav{
  flex:8;
  display: flex;
  justify-content: center;
}

.profile{
      display: flex;
      flex-direction: column; 
      justify-content: center;  
      text-align: center;
      align-items: center;
      color:rgba(0, 0, 0, 0.7);
      font-size:10px;
      font-weight: 500;  
      margin-top: -5px;
}

.childrenDiv{
  text-align: center;
}