
.header{
  padding: 13px;
}

.ForumComponent {
  margin: 30px;
  padding: 50px;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}

.itembox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border-radius: 5px !important;
}

.itembox > div > div {
  margin-left: 20px;
}



.main {
  margin: 30px;
  display: flex;
  
}


.smallItemBox  {
  cursor: pointer;
  margin-bottom: 30px;
  width: 600px;
  border-radius: 15px !important;
  box-shadow: 
  2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
}

.image_board{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.image{

 max-height: 60vh;
 max-width: 600px;
}


.hoverpaper:hover{
  box-shadow: 
  3px 3px 4px 8px rgba(0,0,0,0.2), 
  3px 3px 5px 5px rgba(0,0,0,0.14), 
  3px 3px 3px 5px rgba(0,0,0,0.12) !important; 

}

.main_display_name{
  font-weight: bolder;
  font-size: 15px !important;
}


.center {
  display: flex;
  align-items: center;
}


.font{
  font-family: 'Segoe UI';
  font-style: bolder;
}

.user {
  display: flex;
  align-items: center;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
  
}

.description {

}
.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 5px;
}

.category{
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 5px;

}

.bottombox{

  height: 50px;
  width: 350px;
}

.bottom{
  padding: 25px;
}

.comment {
  display: flex;

}

.chat {
  margin-right: 10px;
}

.icon_size {
  height: 30px !important;
  width: 30px  !important;
}

.form > div > div {
  border-radius: 10px !important;
}

.commentlength {
  text-align: center;
  border-radius:10px;
  width:20px;
  height:20px;
  background-color: red;
  bottom:5px;
  left: 36px;
  font-size: 12px;
  color: white;
  font-weight: bolder;
  position: relative;
  padding-top: 0px;
}

.liked {
  background-color: red;
  height: 30px;
  width: 30px;
}


@media only screen and (max-width: 650px) {
 

  .smallItemBox  {
  cursor: pointer;
  margin-bottom: 30px;
  width: 375px;
  border-radius: 15px !important;
  box-shadow: 
  2px 2px 1px 2px rgba(0,0,0,0.2), 1px 4px 3px 3px rgba(0,0,0,0.14), 1px 2px 2px 3px rgba(0,0,0,0.12) !important;
  }

  .image{

    max-height: 60vh;
    max-width: 375px;
   }
   
   
}


.upper_show_input_tag {
  display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
.show_input_tag {
  align-items: center;
  background: #85A3BF;
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 11px;
}

.time_size{
  margin-left: 20px;
  justify-content: flex-end;
  font-size: 10px !important;
}

.title_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags_comment_heart{
  display: flex;
  justify-content: space-between;
}

.deleteAlertCenter{
  display: flex;
  justify-content: center;
}

.deleteAlert {
  width: 300px;
}

.deleteButton {
  position: relative;
  left: 580px;
  bottom: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: red;
  border: 1px solid white !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  outline: 0 !important;
}

.delete{
  color: white !important;
}

.forumTitle{  
  width:200px;
  text-align: left;
  font-size:x-large;
  font-weight: 500;
  margin-left: 10%;
  margin-bottom: -50px;
  z-index: 1;
  background:#FFF;
}