.fullBody{
    width:100%;
    margin: 0 0 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
    position: relative;
    border-radius: 20px;
    min-height:100px;
    opacity: 0.9;
    
}

.fullBody:hover{
    opacity: 1;
    transform:scale(1.004);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.fullBody img{
    max-width: 100%;
}

.itemImage img{
    min-width: 100%;;
}

.CardMedia img{
    max-width: 100%;
    
}

.user{
    position: absolute;
    top:25px;
    left:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:white;
    border-radius: 20px;
    padding-right: 20px;
    margin-left: 10px;
    height: 30px;
}

.user_icon {
    /* position: relative; */
    height: 30px;
    width: 30px;
    border-radius: 25px;
    margin-right: 5px;
}

.user_name {
    background:white;
    color: black;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .info{
    position: absolute;
    bottom:30px;
    left:10px;
    background:white;
    color: black;
}

.buttonGroup{
    position: absolute;
    bottom:30px;
    right:10px;
} */

.favButton{
    position: absolute;
    bottom:20px;
    right:25px;
    background-color: #DD014E ;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatButton{
    position: absolute;
    bottom:20px;
    left:25px;
    background-color: #1876D2 ;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
