
.size {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  position: relative;
  bottom: 0px;
}

.button1 > span > button{
  display: flex;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;

}


/* .button1 > span > button > svg{

position: relative;
bottom: 5px;
} */


.googlebutton {
  margin: 20px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
