
/* .submit-width{
  width: 1000px;
} */
.SubmitForm{

    display: flex;
    width: 70vw;
    border: none;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 40px;
}

.SubmitForm > div {
  margin: 20px;
}

.SubmitForm > div > div {
  border-radius: 15px;
}

.title{
  width: 80%;
}
.intro{
  width: 80%;
  height: 100px;
}
.pickup-time{
  width:80%; ;
}

.options > div>.MuiOutlinedInput-root {
  margin: 15px;
}

.options{
  width:80%; 
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

.options > div>.MuiOutlinedInput-root{
  border-radius: 15px;
}

.options>div{
  width: 100%;
}

.upload{
  width:80%; 
  display: flex; 
  flex-direction: row; 
  color: #888;
  padding-left: 7px;
}

.upload >div {
 min-width: 150px;
font-size: large;
}
.upload >input{
}


.key{
  margin:0 !important;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px !important;
}

.set-map{
  width:98%;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.submitButton{
    font-size: 19px !important;
    border-radius: 5px !important;
    margin-top: 10px;
}


/* .search-bar-container{
  width: 40vw;
  height: 2vh !important;
  max-width: 500px;
  height: 1vh !important;
  z-index:1000
} */


.location-search-input{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.autocomplete-container{
    position: relative;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}

